@page
@model Student_Registration_System.Models.Registration
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <main role="main" class="pb-3">
        <h2>@ViewData["Title"]</h2>

        <form method="post" action="/api/Registration/RegisterStudent">
            <div class="mb-3">
                <label for="Username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="Username" name="Username" value="@Model?.UserName" />
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" value="@Model?.Password" />
            </div>
            @*<div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="ConfirmPassword" name = "Confirm Password"value="@Model?.ConfirmPassword" />
            </div>*@
            <button type="submit" class="btn btn-primary" onclick="register()">Register</button>
        </form>
    </main>
</div>


<script>
    function register() {
        // Submit the form programmatically
        document.querySelector('form').submit();
    }
</script>
